<div class="container">
  <div class="center jumbotron">
<h2>管理ページ</h2>
<ol class="breadcrumb">
  <li>管理ページ</li>
  <li>記事一覧</li>
</ol>
  <div class="admin" style="text-align:right;">
    <%= form_tag(article_index_path, method: "get") do |f| %>
      <%= select_tag :university, options_for_select(Article.universities), include_blank: false %>
      <%= select_tag :category, options_for_select(Article.categories), include_blank: false %>
      <%= submit_tag "検索" , class: "btn btn-primary" %>
    <% end %>
    <table border="1" align="center" class="table table-bordered table-hover" >
      <thead>
        <tr>
          <td><label>id</label></td>
          <td><label>記事名</label></td>
          <td><label>作成日</label></td>
          <td><label>ブログ名</label></td>
          <td><label>大学タグ</label></td>
          <td><label>カテゴリータグ</label></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% @articles_for_admin.each do |a| %>
          <tr>
            <td><%= a.id %></td>
            <td><%= link_to(truncate(a.subject, length: 20), a.url, target: "_blank")  %></td>
            <td><%= a.created_at.strftime('%Y年%m月%d日') %></td>
            <td><%= truncate(a.blog_name, length: 20) %></td>
            <td><%= a.univ_name %></td>
            <td><%= a.category_name %></td>
            <td><%= link_to("編集", edit_article_path(a.id),  class: 'btn-sm btn-warning')  %></td>
          </tr>
        <% end %>
      </tbody>

    </table>
    <%= will_paginate @articles_for_admin  %>
  </div>
</div>

</div>
