<div class="center jumbotron" id="articles-background">
  <h2>アドミン</h2>
  <ol class="breadcrumb">
    <li><a href="/article">記事一覧</a></li>
    <li>記事詳細</li>
  </ol>
  <div class="panel panel-default">
    <% @article_for_admin.each do |a| %>
      <div class="panel-heading"<label>id</label></div>
 	    <div class="panel-body"><%= a.id %></div>
      <div class="panel-heading"><label>記事名</label></div>
 	    <div class="panel-body"><%= a.subject %></div>
      <div class="panel-heading"><label>記事内容</label></div>
 	    <div class="panel-body"><%= a.content %></div>
      <div class="panel-heading"><label>記事URL</label></div>
 	    <div class="panel-body"><%= link_to(truncate(a.url, length: 100), a.url)  %></div>
      <div class="panel-heading"><label>作成日</label></div>
 	    <div class="panel-body"><%= a.created_at.strftime('%Y年%m月%d日') %></div>
      <div class="panel-heading"><label>ブログ名</label></div>
 	    <div class="panel-body"><%= a.blog_name %></div>
      <div class="panel-heading"><label>大学タグ</label></div>
 	    <div class="panel-body"><%= a.univ_name %></div>
      <div class="panel-heading"><label>カテゴリータグ</label></div>
 	    <div class="panel-body"><%= a.category_name %></div>
	  <% end %>
  </div>
</div>
