<div class="container">
  <div class="jumbotron">
    <h2><%= @university.name %></h2>
    <ol class="breadcrumb">
      <li><%= @university.name %></li>
      <li class="active">メイン</li>
    </ol>
      <div class = "category">
        <ul class="list-group">
          <li　class="list-group-item">カテゴリ</li>
          <% @categories.each do |c| %>
            <li class="list-group-item">
              <%= link_to(c.category_name, "/universities/#{@university.id}/categories/#{c.id}") %>
            </li>
          <% end %>
          <!--
          カテゴリ実装の優先順位
          1.持物、準備、授業、寮、体験談、文化、生活、
          2.旅行、買物,イベント、交通
        　-->
        </ul>
      </div>
      <div>
        <ul class = "articles list-group">
          <% @articles.each do |article| %>
            <li class="list-group-item" id="article-<%= article.id %>" >
              <div class="left-box">
                <% if article.picture.present? %>
                  <%= image_tag article.picture %>
                <% else %>
                  <%= image_tag("sweden.jpg") %>
                <% end %>
              </div>
              <div class="right-box">
                <span id="subject"><%= article.subject%></span>
                </br>
                <span><%= truncate(article.content, length: 150)%></span>
                </br>
                <%= link_to "もっと見る", article.url, target: "_blank" %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    <%= will_paginate @articles %>
  </div>
</div>