<div class="container">
  <br>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to "ホーム", root_path %></li>
      <li class="active breadcrumb-item" aria-current="page"><%= @university.name %></li>
    </ol>
  </nav>
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex flex-row">
      <% @categories.each do |category| %>
        <%= link_to(category.category_name, "/universities/#{@university.id}/categories/#{category.id}", class: "p-2 text-muted") %>
      <% end %>
    </nav>
  </div>

  <div class="row">
    <div class="col-md-12 ">
      <div class="card-deck">
        <% @articles.each do |article| %>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <% if article.picture.present? %>
                <%= image_tag article.picture,class: "bd-placeholder-img card-img-top",width:"100%", height: "225" %>
              <% else %>
                <%= image_tag "sweden.jpg",class: "bd-placeholder-img card-img-top",width:"100%", height: "225" %>
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= article.subject%></h5>
                <p class="card-text"><%= truncate(article.content, length: 85)%></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <%= link_to "View", article.url, target: "_blank", class:"btn btn-sm btn-outline-secondary" %>
                  </div>
                  <small class="text-muted"><%= "##{@category_list[article.article_categories[0].category_id]}"  %></small>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <%= will_paginate(@articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class:"pagination justify-content-center") %>
    </div>
  </div>
</div>
