<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%#= link_to image_tag("Sweden Ryugaku DB-logo.png", id: "logo"), root_path%>
    <%= link_to "Sweden Ryugaku DB", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",        root_path %></li>
        <li><%= link_to "Universities",'#' %></li>
        <li><%= link_to "About",       about_path %></li>
        <li><%= link_to "Contact",     contact_path %></li>
        <li><%= link_to "Admin",       article_index_path %></li>
      </ul>
    </nav>
  </div>
</header>
