<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Sweden Ryugaku DB", root_path, id: "logo", class: "navbar-brand" %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "Universities", universities_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "About", about_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "Contact", contact_path, class: "nav-link" %></li>
      <li class="dropdown nav-item">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Article", article_index_path, class: "dropdown-item" %>
          <%= link_to "Blog",    blog_index_path, class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</nav>
